/* Estilos de wikiiocmodel
*/
.iocUpdateDataIcon{
    background-image: url("img/iocUpdateDataProject.png"); 
    width: 32px;
    height: 32px;    
}

.iocConsolidateIcon{
    background-image: url("img/iocConsolidateProject.png"); 
    width: 32px;
    height: 32px;    
}
