/* Estilos de wikiiocmodel
*/
.iocUpdateDataIcon{
    background-image: url("img/iocUpdateDataProject.png"); 
    width: 32px;
    height: 32px;    
}

.iocConsolidateIcon{
    background-image: url("img/iocConsolidateProject.png"); 
    width: 32px;
    height: 32px;    
}

.iocImportProjectIcon{
    background-image: url("img/iocImportProject.png"); 
    width: 32px;
    height: 32px;    
}

.iocStartEditDataProjectIcon{
    background-image: url("img/iocStartEditDataProject.png"); 
    width: 32px;
    height: 32px;    
}

.iocMarkAutorDataProjectIcon{
    background-image: url("img/iocMarkAutorDataProject.png"); 
    width: 32px;
    height: 32px;    
}

.iocMarkRevisorDataProjectIcon{
    background-image: url("img/iocMarkRevisorDataProject.png"); 
    width: 32px;
    height: 32px;    
}

.iocMarkValidatorDataProjectIcon{
    background-image: url("img/iocMarkValidatorDataProject.png"); 
    width: 32px;
    height: 32px;    
}

.block-border{
    padding: 15px;
    background-color: #fcebd4;
    border: #f3a22d;
    font-size: 18px;
}