<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Own files -->
    <link rel="stylesheet" href="css/main.css">

    <title>IOC - Pla de treball</title>
  </head>
  <body>
    
<!-- Side navigation -->

<div id="mySidenav" class="sidenav open">
  <div class="closebtn" onclick="closeNav()">&times;</div>
  <div class="content_index fade_in" id="myContentIndex">
    <a href="#presentacio">1. Presentació</a>
    <a href="#material">2. Material</a>
    <a href="#metodologia">3. Metodologia</a>
    <a href="#temporitzacio">4. Temporització dels continguts</a>
    <a href="#dates">5. Dates clau</a>
    <a href="#avaluacio">6. Avaluació</a>
    <a href="#planificacio">7. Planificació</a>
  </div>
</div>
  

<span class="hamburger hidden" id="myHamburger" onclick="openNav()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2.4" stroke-linecap="butt" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg></span>


  <header class="main_header">
    <div class="container">
      <h1>Pla de treball</h1>
      <h2>CFGS Desenvolupament d'Aplicacions Multiplataforma (DAM)</h2>
      <h2>Mòdul 9 – Programació de Serveis i Processos </h2>
    </div>
  </header>

  <hr class="separador_impr">

  <section id="intro">
    <div class="container">
      <p><span>Durada del mòdul</span>: 99 hores</p>
      <p><span>Professors</span>: Tomàs Bigordà</p>
      <p><span>Coordinador/a</span>: Josep Cañellas</p>
      <p><span>Febrer 2018</span></p>
    </div>
  </section>

  <div class="container">
    <section id="presentacio">
      <h2>1. Presentació</h2>
      <p>En aquest mòdul aprendreu a programar aplicacions distribuïdes segures i eficients, aplicant tècniques de criptografia i de programació paral·lela.</p>
      <p>Té una assignació de 99 h de les 2000 h del cicle de Desenvolupament d'Aplicacions Multiplataforma.</p>
      <p>Es recomana cursar-lo el 5è semestre de l'itinerari formatiu. Suposa una <strong>dedicació setmanal mínima aproximada de 7 h.</strong></p>
      <p>Per cursar aquest mòdul és requisit haver superat els mòduls: M01, M03.</p>
    </section>
    <section id="material">
      <h2>2. Material</h2>
      <p>Material IOC del mòdul 9 (Programació de serveis i processos) del cicle formatiu de grau superior Desenvolupament d'Aplicacions Multiplataforma (DAM).</p>
    </section>
    <section id="metodologia">
      <h2>3. Metodologia</h2>
      <p>En els ensenyaments d'FP el focus d'aprenentatge està fixat en l'assoliment de la competència general, les competències professionals, les capacitats clau i els objectius generals assignats a cada títol. Els resultats d'aprenentatge i els continguts dels mòduls capaciten l'alumne per a aquest assoliment.</p>
      <p>En aquest mòdul es descriuen els següents <strong>resultats d'aprenentatge</strong>:</p>
      <ul>
        <li>Programa mecanismes de comunicació en xarxa emprant sòcols i analitzant l'escenari d'execució.</li>
        <li>Desenvolupa aplicacions compostes per diversos fils d'execució analitzant i aplicant llibreries específiques del llenguatge de programació.</li>
        <li>Programa mecanismes de comunicació en xarxa emprant sòcols i analitzant l'escenari d'execució.</li>
        <li>Desenvolupa aplicacions que ofereixen serveis en xarxa, utilitzant llibreries de classes i aplicant criteris d'eficiència i disponibilitat.</li>
        <li>Protegeix les aplicacions i les dades definint i aplicant criteris de seguretat en l’accés, emmagatzematge i transmissió de la informació.</li>
        <li>Interpreta informació professional en llengua anglesa -manuals tècnics, instruccions, catàlegs de productes i/o serveis, articles tècnics, informes, normativa, entre d'altres, aplicant-ho en les activitats professionals més habituals.</li>
      </ul>
      <p>La metodologia seguida en aquest mòdul és l'aprenentatge significatiu a partir de:</p>
      <ul>
        <li>El seguiment del material de l'IOC.</li>
        <li>La realització dels exercicis d'autoavaluació web i activitats web.</li>
        <li>La participació activa al fòrum de l'aula.</li>
        <li>El seguiment de l'avaluació contínua, realitzant els exercicis d’avaluació contínua (EAC).</li>
      </ul>
      <h3>Exercicis d'autoavaluació web/ activitats web</h3>
      <p>Per treballar els continguts d'aquest mòdul és recomanable realitzar els exercicis d'autoavaluació/activitats web de cada unitat formativa. Tot i que <strong>no els avalua el professor</strong>, i per tant no es tenen en compte a l'avaluació contínua (AC), se’n recomana la realització per portar el propi control de l’aprenentatge.</p>
      <p>Els professors resoldran els possibles dubtes i orientaran en el ritme d'estudi i participació que s'ha de portar a terme per assolir els continguts.</p>
    </section>
    <section id="temporitzacio">
      <h2>4. Temporització dels continguts</h2>
      <p><strong>Mòduls d'un bloc</strong>: Aquest mòdul està distribuït en X unitats formatives:</p>
      <table class="taula">
        <tr>
          <th>Núm. UF</th>
          <th>Títol unitat formativa</th> 
          <th>Durada</th>
        </tr>
        <tr>
          <td>UF2</td>
          <td>Processos i fils</td>
          <td>37 h</td>
        </tr>
        <tr>
          <td>UF3</td>
          <td>Sòcols i serveis</td>
          <td>37 h</td>
        </tr>
        <tr>
          <td>UF1</td>
          <td>Seguretat i criptografia</td>
          <td>25 h</td>
        </tr>
      </table>
      <p>Cada Unitat Formativa es divideix en diferents unitats:</p>
      <table class="taula">
        <tr>
            <th>UF2</th>
            <th>NOM UF</th>
            <th>Durada</th>
            <th>Temporització</th>
        </tr>
        <tr>
            <td>U1</td>
            <td>Processos i fils</td>
            <td>37h</td>
            <td>15.02-17.03</td>
        </tr>
        <tr>
            <th>UF3</th>
            <th>NOM UF</th>
            <th>Durada</th>
            <th>Temporització</th>
        </tr>          
        <tr>
            <td>U2</td>
            <td>Sòcols i serveis</td>
            <td>37h</td>
            <td>18.03-20.04</td>
        </tr>
        <tr>
            <th>UF1</th>
            <th>NOM UF</th>
            <th>Durada</th>
            <th>Temporització</th>
        </tr>
        <tr>
            <td>U3</td>
            <td>Seguretat i criptografia</td>
            <td>25h</td>
            <td>21.04-11.05</td>
        </tr>
      </table> 
      <p>Cada Unitat es divideix en diferents apartats:</p>
      <h3>UF2: Processos i fils</h3>
      <table class="taula">
        <tr>
          <th colspan="4">U1: Processos i fils. (37 h) (15.02-17.03)</th>
        </tr>
        <tr>
            <th class="nivell2">A</th>
            <th class="nivell2">Nom Unitat</th>
            <th class="nivell2">Durada</th>
            <th class="nivell2">Temporització</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Programació multiprocés</td>
          <td>19h</td>
          <td>15.02-01.03</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Programació multifil</td>
          <td>18h</td>
          <td>12.03-17.03</td>
        </tr>
      </table>
      <h3>UF3: Sòcols i serveis</h3>
      <table class="taula">
        <tr>
          <th colspan="4">U2: Sòcols i serveis. (37 h) (18.03-20.04)</th>
        </tr>
        <tr>
          <th class="nivell2">A</th>
          <th class="nivell2">Nom Unitat</th>
          <th class="nivell2">Durada</th>
          <th class="nivell2">Temporització</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Programació de comunicacions en xarxa </td>
          <td>19h</td>
          <td>18.03-05.04</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Generació de serveis en xarxa</td>
          <td>18h</td>
          <td>06.04-20.04</td>
        </tr>
      </table>
      <h3>UF1: Seguretat i criptografia</h3>
      <table class="taula">
        <tr>
          <th colspan="4">U2: Seguretat i criptografia. (25 h) (21.04-11.05)</th>
        </tr>
        <tr>
            <th class="nivell2">A</th>
            <th class="nivell2">Nom Unitat</th>
            <th class="nivell2">Durada</th>
            <th class="nivell2">Temporització</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Tecnologies de seguretat i encriptació</td>
          <td>10h</td>
          <td>21.04-28.04</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Programació d'aplicacions segures</td>
          <td>15h</td>
          <td>29.04-11.05</td>
        </tr>
      </table>
    </section>
    <section id="dates">
      <h2>5. Dates clau</h2>
      <p>També les podeu consultar al calendari de l’aula.</p>
      <table class="taula">
        <tr>
          <th>UF</th>
          <th>Inici UF</th>
          <th>Publicació EAC</th>
          <th>Lliurament EAC</th>
          <th>Publicació solució</th>
          <th>Publicació qualificació</th>
        </tr>
        <tr>
          <td>2</td>
          <td>15/02</td>
          <td>22/02</td>
          <td>17/03</td>
          <td>19/03</td>
          <td>23/03</td>
        </tr>
        <tr>
          <td>3</td>
          <td>18/03</td>
          <td>22/03</td>
          <td>20/04</td>
          <td>23/04</td>
          <td>26/04</td>
        </tr>
        <tr>
          <td>1</td>
          <td>21/04</td>
          <td>27/04</td>
          <td>11/05</td>
          <td>14/05</td>
          <td>17/05</td>
        </tr>
      </table>
      <table class="taula">
        <tr>
          <th>PAF</th>
          <th>Data de realització</th>
          <th>Publicació qualificació</th>
        </tr>
        <tr>
          <td>1</td>
          <td>19/05/2018</td>
          <td>25/05/2018</td>
        </tr>
        <tr>
          <td>2</td>
          <td>02/06/2018</td>
          <td>07/06/2018</td>
        </tr>
      </table>
    </section>
    <section id="avaluacio">
      <h2>6. Avaluació</h2>
      <h3>6.1 Avaluació contínua (AC)</h3>
      <p>El model pedagògic de l'IOC es fonamenta en l’avaluació acadèmica de l’alumne mitjançant l’AC. Està constatat que l’èxit en els estudis a distància està directament relacionat amb el ritme d’estudi continuat al llarg de tot el període acadèmic.</p>
      <p>Es recomana a tots els alumnes que segueixin l’avaluació contínua atès que <strong>forma part de la qualificació final</strong>.</p>
      <p>L'AC es realitza a distància, es concreta en <strong>1 EAC per cada UF</strong>. Inclou la publicació de la solució, la valoració general al grup classe i una retroacció individual a cada estudiant.</p>
      <p>Cal tenir en compte:</p>
      <ul>
        <li>L’avaluació contínua té un valor del <strong>30%</strong> en la <strong>qualificació final</strong> de la UF.</li>
        <li>Els EAC han de ser lliurats dins dels terminis fixats, el termini de lliurament és <strong>improrrogable</strong> El sistema no permet lliurar cap exercici passades les 23.55 hores de la data prevista per al lliurament (consulteu dates clau).</li>
        <li>El seguiment correcte de l’AC compromet l’alumne a realitzar les activitats proposades de manera individual, original i seguint les indicacions del professor. Si no es respecten aquestes condicions, s’obtindrà una qualificació negativa. Els treballs o tasques d'AC que siguin còpia literal (total o parcial) d'altres treballs, exercicis o fonts es consideraran suspesos amb una qualificació de 0.</li>
        <li>En els EAC s'estableixen els criteris d'avaluació corresponents tant de contingut com de forma (per exemple, l'expressió lingüística i ortogràfica).</li>
        <li>El professor corregeix els EAC i emet una qualificació numèrica de l'escala entre el 0 i el 10, amb dos decimals.</li>
        <li>Per poder tenir en compte la qualificació de l’AC, s’ha d’aconseguir a la PAF una qualificació <strong>mínima de 4 sense cap arrodoniment</strong> (PAF1 o PAF 2).</li>
        <li>La qualificació de l'AC es té en compte tant a la PAF1 com a la PAF2 del mateix semestre però no es guarda d'un semestre a l'altre.</li>
      </ul>
      <h3>6.2 Avaluació final. Prova d'avaluació final (PAF)</h3>
      <p>Al final de cada semestre l’alumne s’ha de presentar a una prova d’avaluació final (PAF) <strong>presencial i obligatòria</strong> per aprovar cada UF (consulteu dates clau).</p>
      <p>Per poder presentar-se, <strong>cal confirmar</strong> l'assistència en el període establert.</p>
      <p>La prova d'avaluació final (PAF):</p>
      <ul>
        <li>té una durada <strong>d'1 hora i 50 minuts</strong>.</li>
        <li>consistirà en diversos exercicis: frases V/F, preguntes obertes, resolució d'un cas pràctic, etc.</li>
        <li>s'avalua numèricament del 0 al 10, amb dos decimals.</li>
        <li>NO inclou retroacció.</li>
        <li>té un valor del <strong>70%</strong> en la Qualificació Final (QF) de la UF.</li>
        <li>s'ha d'obtenir una n<strong>ota mínima de 4 sense arrodoniment</strong> per poder aplicar el càlcul de la QF.
          </li>
      </ul>
      <p>S'ofereixen dues convocatòries ordinàries cada semestre: PAF1 i PAF2. (consulteu dates clau). L'alumne pot:</p>
      <ul>
        <li>Presentar-se a la PAF1 i en cas de no superar-la, presentar-se a la PAF2 del mateix semestre (2 setmanes després de la PAF1). En cap cas es pot presentar a la PAF2 per pujar nota tenint la PAF1 superada.</li>
        <li>Presentar-se directament a la PAF2.</li>
      </ul>
      <p>La convocatòria corresponent a la PAF1 s'esgota tant si l'estudiant s'hi presenta com si no (exceptuant que l'alumne hagi anul·lat la matrícula). La convocatòria corresponent a PAF2 només s'esgota si l'estudiant s'hi presenta.</p>
      <h3>6.3 Qualificació final (QF)</h3>
      <h4>a) Qualificació final de cada UF</h4>
      <p>La QF de cada UF es calcula a partir de la fórmula següent:</p>
      <p class="formula">QUF = 30% AC + 70% PAF</p>
      <p class="llegenda">AC: mitjana ponderada de les qualificacions dels EAC</p>
      <p class="llegenda">QUF: qualificació final unitat formativa</p>
      <p>La qualificació final és numèrica de l'1 al 10, sense decimals. Es consideren positives les qualificacions iguals o superiors a 5 i negatives les restants.</p>
      <p>Aquesta fórmula s'aplica amb aquestes condicions:</p>
      <ul>
        <li>Per sumar l'AC s’ha d’obtenir una qualificació mínima de 4 a la PAF sense haver fet cap tipus arrodoniment previ.</li>
        <li>Si la qualificació de la PAF és inferior a 4, el càlcul de la QF serà el 70% de la nota obtinguda a la PAF.</li>
      </ul>
      <p>En cas de no superar la UF el següent semestre s'han de tornar a realitzar totes les activitats de la UF (PAF i AC). No es guardarà cap nota parcial de la UF pel següent semestre.</p>
      <h4>b) Qualificació final del mòdul</h4>
      <p>La superació del mòdul s’obté amb la superació de les UF que el componen.</p>
      <p>La qualificació final del mòdul (QFM) serà el resultat de la mitjana de les qualificacions de les diferents UF d'acord amb la següent ponderació:</p>
      <p class="formula">QFM = 0,37*QUF2 + 0,37*QUF3 + 0,26* QUF1</p>
      <p>En cas de no superar alguna UF el mòdul quedarà pendent. Es consideren positives les qualificacions iguals o superiors a 5.</p>
    </section>
    <section id="planificacio">
      <h2>7. Planificació</h2>
      <table class="taula">
        <tr>
          <th class="nivell1" colspan="2">UF2. Processos i fils (37 hores)</th>
        </tr>
        <tr>
          <th class="nivell2" colspan="2">U1. Processos i fils (37 hores)</th>
        </tr>
        <tr>
          <th class="nivell3" colspan="2">Apartat 1: Programació multiprocés (19h)</th>
        </tr>
        <tr>
          <td class="semititol">Continguts</td>
          <td class="semititol">Activitats d’aprenentatge</td>
        </tr>
        <tr>
          <td>
              <ol>
                <li>Programació multiprocés</li> 
                <li>Processos i serveis</li> 
                <li>Gestó de processos i desenvolupament d'aplicacions</li> 
                <li>Sincronització i comunicació entre processos</li>
              </ol>
          </td>
          <td>
              <ul>
                <li>Exercicis d’autoavaluació; activitats web U1A1</li>
                <li>Participació al fòrum</li>
              </ul>
          </td>
        </tr>
        <tr>
            <th class="nivell3" colspan="2">Apartat 2: Programació multifil (18h)</th>
          </tr>
          <tr>
            <td class="semititol">Continguts</td>
            <td class="semititol">Activitats d’aprenentatge</td>
          </tr>
          <tr>
            <td>
                <ol>
                    <li>Els fils</li>
                    <li>Gestió de fils</li>
                    <li>Sincronització de fils</li>
                    <li>Compartir informació entre fils</li>
                    <li>Agrupació de fils</li>
                    <li>Gestió de fils per part del sistema operatiu</li>
                    <li>Documentació d'aplicacions i depuració d'aplicacions multifil</li>
                </ol>
            </td>
            <td>
                <ul>
                  <li>Exercicis d’autoavaluació; activitats web U1A1</li>
                  <li>Participació al fòrum</li>
                </ul>
            </td>
          </tr>
          <tr>
            <th class="nivell3" colspan="2">EAC 2: Exercici Avaluació Contínua 2 (data màxima de lliurament: consulteu dates clau)</th>
          </tr>
      </table>
      <table class="taula">
        <tr>
          <th class="nivell1" colspan="2">UF2. Processos i fils (37 hores)</th>
        </tr>
        <tr>
          <th class="nivell2" colspan="2">U1. Processos i fils (37 hores)</th>
        </tr>
        <tr>
          <th class="nivell3" colspan="2">Apartat 1: Programació multiprocés (19h)</th>
        </tr>
        <tr>
          <td class="semititol">Continguts</td>
          <td class="semititol">Activitats d’aprenentatge</td>
        </tr>
        <tr>
          <td>
              <ol>
                <li>Programació multiprocés</li> 
                <li>Processos i serveis</li> 
                <li>Gestó de processos i desenvolupament d'aplicacions</li> 
                <li>Sincronització i comunicació entre processos</li>
              </ol>
          </td>
          <td>
              <ul>
                <li>Exercicis d’autoavaluació; activitats web U1A1</li>
                <li>Participació al fòrum</li>
              </ul>
          </td>
        </tr>
        <tr>
            <th class="nivell3" colspan="2">Apartat 2: Programació multifil (18h)</th>
          </tr>
          <tr>
            <td class="semititol">Continguts</td>
            <td class="semititol">Activitats d’aprenentatge</td>
          </tr>
          <tr>
            <td>
                <ol>
                    <li>Els fils</li>
                    <li>Gestió de fils</li>
                    <li>Sincronització de fils</li>
                    <li>Compartir informació entre fils</li>
                    <li>Agrupació de fils</li>
                    <li>Gestió de fils per part del sistema operatiu</li>
                    <li>Documentació d'aplicacions i depuració d'aplicacions multifil</li>
                </ol>
            </td>
            <td>
                <ul>
                  <li>Exercicis d’autoavaluació; activitats web U1A1</li>
                  <li>Participació al fòrum</li>
                </ul>
            </td>
          </tr>
          <tr>
            <th class="nivell3" colspan="2">EAC 2: Exercici Avaluació Contínua 2 (data màxima de lliurament: consulteu dates clau)</th>
          </tr>
      </table>
      <table class="taula">
        <tr>
          <th class="nivell1" colspan="2">UF2. Processos i fils (37 hores)</th>
        </tr>
        <tr>
          <th class="nivell2" colspan="2">U1. Processos i fils (37 hores)</th>
        </tr>
        <tr>
          <th class="nivell3" colspan="2">Apartat 1: Programació multiprocés (19h)</th>
        </tr>
        <tr>
          <td class="semititol">Continguts</td>
          <td class="semititol">Activitats d’aprenentatge</td>
        </tr>
        <tr>
          <td>
              <ol>
                <li>Programació multiprocés</li> 
                <li>Processos i serveis</li> 
                <li>Gestó de processos i desenvolupament d'aplicacions</li> 
                <li>Sincronització i comunicació entre processos</li>
              </ol>
          </td>
          <td>
              <ul>
                <li>Exercicis d’autoavaluació; activitats web U1A1</li>
                <li>Participació al fòrum</li>
              </ul>
          </td>
        </tr>
        <tr>
          <th class="nivell3" colspan="2">Apartat 2: Programació multifil (18h)</th>
        </tr>
        <tr>
          <td class="semititol">Continguts</td>
          <td class="semititol">Activitats d’aprenentatge</td>
        </tr>
        <tr>
          <td>
              <ol>
                  <li>Els fils</li>
                  <li>Gestió de fils</li>
                  <li>Sincronització de fils</li>
                  <li>Compartir informació entre fils</li>
                  <li>Agrupació de fils</li>
                  <li>Gestió de fils per part del sistema operatiu</li>
                  <li>Documentació d'aplicacions i depuració d'aplicacions multifil</li>
              </ol>
          </td>
          <td>
              <ul>
                <li>Exercicis d’autoavaluació; activitats web U1A1</li>
                <li>Participació al fòrum</li>
              </ul>
          </td>
        </tr>
        <tr>
          <th class="nivell3" colspan="2">EAC 2: Exercici Avaluació Contínua 2 (data màxima de lliurament: consulteu dates clau)</th>
        </tr>
      </table>        
    </section>
    <div id="printbtn" onclick="printDoc()"><span>Imprimeix el document</span></div>
  </div>
    
  <script src="js/main.js"></script>
  </body>
</html>