<!doctype html>
<html lang="ca">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="expires" content="0">
  <title>Guies EOI</title>
  <meta name="description" content="Guies EOI"> <!-- he canviat el content -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
</head>
<body>

<!-- Capçalera -->
<header class="main_header">
    <div class="ioc_logo">
        <img class="logo" src="img/logo-ioc-petit.svg" alt="Institut Obert de Catalunya">
    </div>
    <div class="own_container">
        <!-- marjose  <WIOCCL:IF condition="true=={##isCert##}"> - Amb certificació </WIOCCL:IF>-->
        <h1>{##modul##} {##nivellcurs##}</h1>
    </div>
</header>
<!-- /Capçalera -->

<!-- Títol -->
<header class="secondary_header">

  <div class="own_container">
    <div class="focus_stripe"></div>
    <h2>Informació general del curs</h2>
  </div>
</header>
<!-- /Títol -->


<!-- Secció 1 -->
<section class="section section1">
  <div class="own_container">

    <div class="section1_container">
      <div class="section1_content_row1">
        <div class="section1_element">
          <div class="section1_icona" id="durada_icona"></div>
          <h3>Dedicació</h3>
          <p>{##duradaHores##} hores</p>
        </div>
        <div class="section1_element">
          <div class="section1_icona" id="professor_icona"></div>
          <div>
           <WIOCCL:IF condition="!{#_IS_STR_EMPTY(''{##colaboradors##}'')_#}&&!{#_STR_CONTAINS(''nom'',''{##colaboradors##}'')_#}">
            <h3>Professors</h3>
            <p>{##colaboradors##}</p>
             </WIOCCL:IF>
            </div>
          <h3>Coordinació</h3>
          <p>{##coordinador##} </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Secció 1 -->
  <hr>
<!-- Secció 2 -->
<section class="section section2">

  <div class="own_container">
    {##modul##} {##nivellcurs##}  és un mòdul {##durada##}
  </div>
</section>
<!-- /Secció 2 -->

<hr>

<!-- Secció 3 -->
<section class="section section5">
  <div class="own_container">

      <h2>Continguts</h2>
        <p>El curs s'estructura en els següents blocs:</p>
        <br/>
        <table class="own_table">
          <tr>
            <th></th>
            <th>Inici</th>
            <th>Final</th>
            <th>Nom</th>
          </tr>
            <WIOCCL:FOREACH var="itemCal" array="{##dadesBlocs##}">
            <tr>
              <th>{##itemCal[id]##}</th>
              <td>{#_DATE("{##itemCal[inici]##}")_#}</td>
              <td>{#_DATE("{##itemCal[final]##}")_#}</td>
              <td>{##itemCal[nom]##}</td>

            </tr>
            </WIOCCL:FOREACH>

        </table>

  </div>
</section>

<!-- Secció 5 -->
<section class="section section5">
  <div class="own_container">
    <h2>Calendari d’estudi</h2>

    <p>Al llarg del curs es proposen una sèrie d’activitats i proves de caràcter
        formatiu que rebran una retroacció per part del professorat. 
        Aquestes activitats integren diferents competències i serveixen 
        per comprovar l’evolució de l’aprenentatge i el grau de consecució dels objectius. </p>

    <br>
    <table class="own_table">
      <tr>
        <th>Bloc</th>
        <th>Tipus</th>
        <th>Activitat</th>
        <th>Lliurament</th>
        <th>qualificació</th>

      </tr>

      <WIOCCL:FOREACH var="itemCal" array="{##calendari##}">
      <tr>
        <td>{##itemCal[bloc]##}</td>
        <td>{##itemCal[tipusActivitat]##}</td>
        <td>{##itemCal[activitat]##}</td>
        <td>{#_DATE("{##itemCal[dataLliurament]##}")_#}</td>
        <td>{#_DATE("{##itemCal[dataQualificacio]##}")_#}</td>
      </tr>
      </WIOCCL:FOREACH>

    </table>
<br>
<br/><p>{##descripcioConversa##}</p>

  </div>
</section>
<!-- /Secció 5 -->
<!-- Secció 51 -->
<section class="section section51">
  <div class="own_container">
    <h2>Informació sobre la prova de certificació</h2>
    <p>
        Per superar aquest curs s’ha d’aprovar la prova de Certificat Nivell C1. Aquesta prova és presencial i consta de les següents parts: 
    </p>
    <ul>
        <li>comprensió escrita</li>
        <li>comprensió oral</li>
        <li>expressió i interacció escrita</li>
        <li>expressió i interacció oral </li>
        <li>mediació en comptes d’ús de la llengua.</li>
    </ul>
    <p>
       Cadascuna de les cinc parts que conformen la prova tindrà una ponderació del 20% sobre el total de la puntuació final. Per superar la prova cal obtenir un mínim del 65% de la puntuació total i un mínim del 50% de cadascuna de les parts. 
    </p>

    </div>
</section>
<!-- /Secció 51 -->

<hr>


<!-- Secció 7 Cert-->

<WIOCCL:IF condition="false=={##isCert##}">

<section class="section section7">
  <div class="own_container">
    <h2>Proves</h2>
    <div class="panell_proves">
        <div>
        <h3>Prova Oral</h3>
        <div class="section7_icona" id="pv-icona"></div>
         <div class="provaOral">
             <h3>del {#_DATE("{##provaOralIni##}")_#} al {#_DATE("{##provaOralFi##}")_#}</h3></div>
	<div class="horizontal_separator"></div>
        </div>
        <div class="vertical_separator"></div>
        <div>
        <h3>Prova escrita</h3>
        <div class="section7_icona" id="paf-icona"></div>
        <h3>{#_DATE("{##dataProvaNoCert##}")_#}</h3>
        <div class="horizontal_separator"></div>
        </div>
      </div>
    </div>
  </div>
</section>
</WIOCCL:IF>

<!-- /Secció 7 -->



<!-- Secció 7 Cert-->

<WIOCCL:IF condition="true=={##isCert##}">
<section class="section section7">
  <div class="own_container">
    <h2>Prova de certificació</h2>
    <div class="panell_proves">
        <div>
            <h3>Prova Oral</h3>
            <div class="section7_icona" id="pv-icona"></div>
            <div class="provaOral">
             <h3>del {#_DATE("{##provaOralIni##}")_#} al {#_DATE("{##provaOralFi##}")_#}</h3></div>
            <div class="horizontal_separator"></div>
        </div>
        <div class="vertical_separator"></div>
        <div>
        <h3>Prova escrita</h3>        
        <div class="section7_icona" id="paf-icona"></div>
        <h3>{#_DATE("{##dataProvaNoCert##}")_#}</h3>
        <div class="horizontal_separator"></div>
        </div>
      </div>
    </div>

  </div>
</section>

</WIOCCL:IF>

<!-- /Secció 7 -->



<hr>



</body>
</html>
