<!doctype html>
<html lang="ca">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="expires" content="0">
  <title>Pla de treball</title>
  <meta name="description" content="Pla de treball">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
</head>
<body>
<WIOCCL:SET var="tipus" type="map" value="{##tipusCicle##}" map="{''LOE'':''mòdul'',''LOGSE'':''crèdit''}">
<!-- Capçalera -->
<header class="main_header">
    <div class="own_container">
        <h1>Formació en Centres de Treball</h1>
    </div>
    <div class="rflexjust">
        <a href="pt_sencer/pt.html" target="_blank"><img src="img/programacio.png" title="Consulteu aquí la programació completa"/></a>
    </div>
</header>
<!-- /Capçalera -->

<!-- Títol -->
<header class="secondary_header">

  <div class="own_container">
    <div class="focus_stripe"></div>
    <h2>Com estudiar aquest mòdul</h2>
  </div>
</header>
<!-- /Títol -->


<!-- Secció 1 -->
<section class="section section1">
  <div class="own_container">
    <div class="section1_container">
      <div class="section1_content_row1">
        <div class="section1_element">
          <div class="section1_icona" id="durada_icona"></div>
          <h3>Durada</h3>
          <p>{##durada##} hores</p>       
        </div>
        <div class="section1_element">
          <div class="section1_icona" id="professor_icona"></div>
          <h3>Coordinador</h3>
          <p>{##coordinador##}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Secció 1 -->

<!-- Secció 2 -->
<section class="section section2">
  <hr>
  <div class="own_container">
      <p>El currículum dels ensenyaments de formació professional específica inclou una fase de formació en els centres de treball (FCT), de la qual podran quedar totalment o parcialment exempts els alumnes que acreditin experiència professional d’acord amb allò que estableix la normativa.</p>
      <p>A l’IOC, aquest {##tipus##} es cursa de forma presencial, es a dir, l’alumne ha d’anar a fer les pràctiques a una empresa, però el seguiment és virtual. <strong>Per poder realitzar les pràctiques l’alumne ha de tenir tramitat l’acord de col·laboració</strong>.</p>
  </div>
</section>
<!-- /Secció 2 -->

<hr>

<!-- Secció 4 -->
<section class="section section4">
  <div class="own_container">
    <h2>Eines d'aprenentatge</h2>
    <div class="requadre_eines">
      <div class="puzzle puzzle_dalt puzzle_baix" id="puzzle{#_SUMA({##ind##},1)_#}">
        <div>
          <h4>qBID</h4>
          <h3>plataforma d'enregistrament</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Secció 4 -->

<hr>

<!-- Secció 6 -->
<section class="section section6">
  <div class="own_container">
    <h2>Avaluació i dates clau</h2>
    <p>La qualificació del mòdul de Formació en centres de treball s’expressarà en els termes “Apte” o “No apte”.</p>
    <p>La superació del mòdul d’FCT requereix haver realitzat la totalitat de les hores de formació a l’empresa i haver estat avaluat com a “Apte”.</p>
    <p>La qualificació del mòdul es podrà consultar a l’expedient acadèmic de Secretaria. </p>
    <br/>
    <p>El calendari amb les dates clau del mòdul és el següent:</p>
    <table class="own_table">
      <tr>
        <th>Data inici FCT</th>
        <th>Data màxima per iniciar FCT al <WIOCCL:IF condition="{##semestre##}==''1''">primer</WIOCCL:IF><WIOCCL:IF condition="{##semestre##}==''2''">segon</WIOCCL:IF> semestre</th>
        <th>1a convocatòria per obtenir apte a secretaria </th>
        <th>2a convocatòria per obtenir apte a secretaria </th>
      </tr>
      <tr>
        <td>{#_DATE("{##dataIniciFCT##}")_#}</td>
        <td>{#_DATE("{##dataMaxIniciFCT##}")_#}</td>
        <td>{#_DATE("{##dataApteFCT##}")_#}</td>
        <td>{#_DATE("{##dataMaxApteFCT##}")_#}</td>
      </tr>
    </table>
    <a target="_blank" href="pt_sencer/pt.html">Consulteu aquí la programació completa</a>
  </div>
</section>
<!-- /Secció 6 -->
</WIOCCL:SET>
</body>
</html>
