/* General rules */
body {
    font-family: "Lato", sans-serif;
    color: #01172f;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

p, a, li {
    font-size: 14px;
    line-height: 1.2;
}

h1 {
    margin-top: 20px;
    margin-bottom: 26px;
    font-size: 30px;
}

h2 {
    margin-top: 16px;
    margin-bottom: 17px;
    font-size: 20px;
}

h3 {
    margin-top: 14px;
    margin-bottom: 15px;
    font-style: italic;
    font-size: 17px;
}

h4 {
    margin-top: 12px;
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 15px;
}

.container {
    max-width: 94%;
    margin: 0 auto;
}

p.formula {
    text-align: center;
    font-weight: 700;
    font-size: 90%;
    letter-spacing: .7px;
}

p.llegenda {
    text-align: center;
    font-size: 90%;
    line-height: 1;
}

.titletable {
    text-align: center;
    font-weight: 700;
    font-size: 120%;
}

.foottable {
    font-size: 85%;
    margin-left: auto;
    margin-right: auto;
}

/* Sidebar navigation */

.sidenav {
    height: 100vh;
    width: 250px;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FAFAFA;
    overflow-x: hidden;
    transition: transform .4s ease-in-out;
    padding-top: 60px;
    border-right: 1px solid #E4E4E4;
}

.sidenav a:hover {
    color: #ffffff;
    background-color: #202B47;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

.hamburger {
    position: fixed;
    top: 8px;
    left: -4px;
    font-size: 30px;
    cursor: pointer;
    margin-left: 14px;
    color: #fda6cd;
    opacity: 1;
    transition: opacity .1s;
    transition-delay: .3s;
}

.hamburger.visible {
    opacity: 1;
}

.hamburger.hidden {
    opacity: 0;
}

.sidenav.open {
    transform: translateX(0);
}

.sidenav.close {
    transform: translateX(-250px);
}

.content_index {
    margin-top: -10px;
}

.content_index a {
    font-weight: 400;
    text-decoration: none;
    color: #01172f;
    display: block;
    background-color: #FAFAFA;
    border-top: 1px solid #FAFAFA;
}

.content_index.fade_in {
    opacity: 1;
}

.content_index.fade_out {
    opacity: 0;
}

/* TOC */
.content_index .toc_level_1 a {
    font-size: 16px;
    padding: 8px 8px 8px 2px;
}

.content_index .toc_level_2 a {
    font-size: 14px;
    padding: 8px 8px 8px 2px;
}

.content_index .toc_level_3 a {
    font-size: 13px;
    padding: 8px 8px 8px 2px;
}

.content_index .toc_level_4 a {
    font-size: 13px ;
    padding: 8px 8px 8px 2px ;
}

.content_index .toc_level_5 a{
    font-size: 12px ;
    padding: 6px 8px 6px 2px;
}

.content_index .toc_level_6 a {
    font-size: 12px ;
    padding: 6px 8px 6px 2px;
}

.content_index .toc_level_1 span span{
    padding: 8px 0px 8px 12px;
}

.content_index .toc_level_2 span span{
    padding: 8px 0px 8px 22px;
}

.content_index .toc_level_3 span span{
    padding: 8px 0px 8px 32px;
}

.content_index .toc_level_4 span span{
    padding: 8px 0px 8px 42px;
}

.content_index .toc_level_5 span span{
    padding: 6px 0px 6px 52px;
}

.content_index .toc_level_6 span span{
    padding: 6px 0px 6px 62px;
}

.content_index div[class^='toc_level'] > span {
    display: flex;
}


.button_index.op, .button_index.cl {
    background-color: transparent;
    background-position-x: 80%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
    cursor: pointer;
}

.button_index.cl {
    background-image: url("../img/tocright.png");
}

.button_index.op {
    background-image: url("../img/tocdown.png");
}

table {
    margin-left: 0; //auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

table td.leftalign {
    text-align: left;
}

table td.centeralign {
    text-align: center;
}

table td.rightalign {
    text-align: right;
}

table .inline {
    background-color: transparent;
    min-width: 300px;
    margin: 0 auto 2em;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 0 none;
    border-right: 0 none;
    font-size: 90%;
}
table .inline th {
    background-color: transparent;
    border-top: 0 none;
    border-bottom: 1px solid;
    border-left: 0 none;
    border-right: 0 none;
    padding: 0.3em 0.5em;
    vertical-align: top;
}
table .inline td {
    border: 0 none;
    padding: 0.3em 0.5em;
}

section p{
    text-align: justify;
    font-size: 16px;
}
/* Section 5 */

.section5 {
  margin: 34px 0 56px 0;
}

.section5 .own_table {
    width: 100%;
    box-sizing: border-box; /* Ensures padding doesn’t shrink table content */

}

.section5 .container {
    max-width: 92%; /* Container will occupy full width of screen on larger displays */
}

.section5 h2 {
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 42px;
}

.section5 .own_table th {
  height: 40px;
  width: 145px;
  background-color: #6e6ca2; //#be176b;
  color: #ffffff;
  font-size: 10.5px;
  font-weight: bold;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.section5 .own_table td {
  height: 40px;
  width: 145px;
  background-color: #d1cde8; //#f9c9e1;
  font-size: 13px;
  color: #3c3a57; //#6e6ca2; //#be176b;
  text-align: center;
}

.section5 .own_table th[rowspan] {
  width: 65px;
  font-size: 12px;
}

.section5 .own_table th:nth-child(2), 
.section5 .own_table td:nth-child(2) {
  width: 15%; /* Allows this column to have enough space but not too much */
  text-align: left;
}

/* Specify the expanding width for "Adreça" column */
.section5 .own_table th:nth-child(3), 
.section5 .own_table td:nth-child(3) {
    width: auto; /* Allows "Adreça" column to take up remaining space */
    max-width: 100%; /* Ensures it can grow to fit */
    padding-left: 16px; /* Adds left padding for better readability */
    text-align: left; /* Aligns the content to the left */
}

/* Top white row for the logo */
.top_row {
    background-color: white;
    padding: 10px 20px; /* Adjust spacing */
    display: flex;
    justify-content: flex-end; /* Aligns the logo to the right */
    align-items: center;
    border-bottom: 1px solid #ddd; /* Optional: Add a separator */
}


/* Logo size adjustments */
.ioc-logo {
    width: 120px; /* Default size for small screens */
    height: auto;
}

/*
.ioc-logo {
    position: absolute;
    top: 20px; 
    right: 20px; 
    width: 100px; 
    height: auto; 
}*/

/* Purple header */
.purple_header {
    background-color: #6e6ca2; /* Purple background */
    color: white;
    text-align: left;
    padding: 20px;
    line-height: 1.2; /* Tight line spacing */
    padding-top: 10px; /* Reduce padding at the top */
    padding-bottom: 20px; /* Keep enough padding for spacing below */
}

.purple_header h1 {
    margin-top: 0; /* Remove unnecessary margin */
    margin-bottom: 10px; /* Optional: Add a small space below the title */
}
.purple_header h2 {
    margin: 5px 0; /* Consistent spacing between titles */
}


/* Header*/
.main_header {
    background-color: #6e6ca2; //#be176b;
    padding: 0 0px 10px 0px;
    position: relative; /* Ensures the logo positions itself relative to the header */
}
 
.main_header h1 {
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    padding-top: 40px;
    color: #ffffff;
    margin-bottom: 5px; /* Reduce space below the first line */
}

.main_header h2 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    margin-top: 0px; /* Reduce space above the second line */
    margin-bottom: 2px; /* Reduce space below the second line */
    line-height: 1.2; /* Adjust line spacing */
    padding-top:  10px; /*30px;*/
    color: #ffffff;
}

.main_header h2:last-of-type {
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    margin-top: 2px; /* Ensure spacing is consistent */
    padding-top: 0px;
    color: #ffffff;
}

.main_header .container {
    line-height: 1.2; /* Consistent spacing for all text */
}

.separador_impr {
    display: none;
}

.rflexjust{
    display: grid;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Intro */

#intro {
    background-color: #fdf0f6;
    display: flex;
}

#intro p {
    margin: 0;
    font-size: 14px;
}

#intro span {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900;
    letter-spacing: .7px;
}

#intro .container {
    padding: 15px 0 15px 0;
    width: 990px;

}

/* Contingut */

.container:not(:first-child) h1 {
    margin-top: 0px;
    margin-bottom: 19px;
    font-size: 24px;
}

.container:not(:first-child) h2 {
    opacity: .7;
}
.container h2:first-of-type {
    opacity: 1; /* Ensure full opacity for the first h2 in every .container */
}
.pt_taula {
    width: 100%;
    margin: 18px auto 38px auto;
    font-size: 13px; 
}

.pt_taula th {
    color: #ffffff;
    background-color: #6e6ca2; /*#be176b;*/
    text-transform: uppercase;
    font-size: 11px !important;
    font-weight: 700 !important;
    letter-spacing: .7px;
    padding: 12px 6px;
    text-align: center;
}

.pt_taula.pt_planif td {
    text-align: left;
}

.pt_taula td {
    padding: 8px 6px;
    background-color: #F4F4F4;
    text-align: center;
}

.pt_taula td ul,
.pt_taula td ol {
    text-align: left;
    padding-right: 10px;
}
.pt_taula td ul li,
.pt_taula td ol li {
    font-size: 13px; 
}

.pt_taula th.nivell1 {
    background-color: #6e6ca2; /*#be176b;*/
}

.pt_taula th.nivell2 {
    color: #ffffff;
    background-color: #B6A1AA;
}

.pt_taula th.nivell3 {
    color: #182C41;
    background-color: #E1E1E4;
}

.pt_taula td.semititol {
    color: #182C41;
    text-transform: uppercase;
    font-size: 11px !important;
    font-weight: 700 !important;
    letter-spacing: .7px;
    padding: 12px 6px;
    text-align: center;
}

div.iocfigure {
    margin: auto;
    text-align: center;
}

div.footfigure {
    margin: -0.3em auto 0;
    text-align: center;
}


.hidden {
    display: none !important;
}


/* Botó imprimir*/
#printbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
    background-color: #6e6ca2; /*#be176b;*/
    width: 200px;
    margin: 32px auto 46px auto;
    cursor: pointer;
}

#printbtn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.17);
}

#printbtn:active {
    box-shadow: none;
}

#printbtn span{
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.8px;
    color: #ffffff;
    text-transform: uppercase;
}

/* Layout media queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

    .container {
        /* max-width: 520px; */
        width: 100%;
        margin: 0 auto;
        padding: 0 10px; /* Adds space on both sides of the container */
    }

    p, a, li {
        font-size: 16px;
        line-height: 1.6;
    }

    h1 {
        margin-top: 30px;
        margin-bottom: 66px;
    }

    h2 {
        margin-top: 32px;
        font-size: 26px;
    }
    
    h3 {
        margin-top: 28px;
        font-size: 21px;
    }
    
    h4 {
        margin-top: 34px;
        margin-bottom: 16px;
        font-weight: bold;
    }

    .sidenav a {
        font-weight: 400;
        font-size: 18px;
        padding: 4px 4px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: #01172f;
        display: block;
    }

    .main_header {
        min-height: 160px;
    }

    .main_header h1 {
        font-size: 34px;
        padding-top: 40px;
    }
    
    .main_header h2 {
        font-size: 24px;
        padding-top: 10px;
    }
    
    .main_header h2:last-of-type {
        font-size: 17px;
        padding-top: 8px;
    }

    #intro p {
        font-size: 16px;
    }
    
    #intro span {
        font-size: 12px;
    }
    
    #intro .container {
        padding: 32px 0 32px 0;
        width: 990px;        
    }

    .pt_taula {
        margin: 26px auto 46px auto;
        font-size: 15px; 
    }
    
    .pt_taula th {
        font-size: 13px !important;
        padding: 16px 6px;
    }
    
    .pt_taula td {
        padding: 12px 6px;
    }
    

    .pt_taula td ul li,
    .pt_taula td ol li {
        font-size: 15px; 
    }

    .pt_taula td.semititol {
        font-size: 13px !important;
        padding: 18px 6px;
    }

    #printbtn {
        margin: 62px auto 76px auto;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    p, a, li {
        font-size: 18px;
    }

    .container:not(:first-child) h1 {
        margin-top: 0px;
        margin-bottom: 2px;
        font-size: 38px;

    }
    .container{
        padding: 0 10px; /* Adds space on both sides of the container */
        max-width: 100%; /* Ensures full width minus padding */
        margin: 0 auto;
        margin-left: 40px; /* Match the header alignment AQUI */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container {
        max-width: 90%; /* Ensures full width minus padding */
        margin: 0 auto;
        margin-left: 60px; /* Match the header alignment AQUI */
        padding: 0 10px; /* Adds space on both sides of the container */
    }

}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .main_header .container,
    .section5 .container {
        max-width: 90%; /* Adjust to fit your design */
        margin: 0 auto; /* Center the content */
        margin-left: 100px; /* Match the header alignment AQUI */
        padding: 0 20px; /* Ensure consistent spacing */
    }
}

@media (min-width: 1500px) {
    .main_header .container,
    .section5 .container {
        max-width: 80%; /* Narrower content for readability */
    }
}

@page {
    size: A4;
    margin-top: 80px;
    margin-bottom: 46px;
}

@media print {

    /* General */

    html, body {
        width: 210mm;
        height: 267mm;
    }

    body {
        color: #01172f;
        background-color: #ffffff;
        
    }

    div.ioctable {
        page-break-inside: avoid !important;
    }
    
    h1, h2, h3, h4 {
        page-break-after: avoid !important;
        color: #01172f !important;
        windows: 2;
        orphans: 2;
    }

    p, a, li {
        font-size: 16px;
        line-height: 1.6;
        windows: 2;
        orphans: 2;
    }

    #mySidenav {
        display: none;
    }

    .container {
        width: 610px;
    }

    table {
        page-break-inside: avoid;
    }

    #printbtn {
        display: none;
    }

    .hamburger {
        display: none;
    }

    /* Capçalera */

    .main_header {
        padding-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        background-color: #ffffff !important;
    }

    .main_header h1 {
        font-size: 22px;
        font-weight: bold;
        font-style: normal;
        margin: 0;
        padding-top: 40px;
        color: #ffffff;
    }
    
    .main_header h2 {
        font-size: 17px;
        font-weight: bold;
        font-style: normal;
        margin: 0;
        padding-top: 10px;
        color: #ffffff;
    }
    
    .main_header h2:last-of-type {
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        margin: 0;
        padding-top: 8px;
        color: #ffffff;
    }
    
    #intro {
        background-color: #ffffff !important;
    }

    .separador_impr {
        display: block;
        width: 610px;
        margin: 12px auto 0 auto;
        height: 1px;
        color: #5D6B7A;
        background: #5D6B7A;
        border: 0;
    }
    
    .salt_impr{
        page-break-after: always
    }

    .pt_taula {
        width: 100%;
        margin: 26px auto 46px auto;
        font-size: 15px;         
    }
    
    .pt_taula th {
        color: #ffffff !important;
        background-color: #6D6A7B !important;
    }
    
    .pt_taula td {
        background-color: #F7F7F6 !important;
    }
    
    .pt_taula th.nivell1 {
        background-color: #5F5C6E !important;
    }
    
    .pt_taula th.nivell2 {
        background-color: #9997A2 !important;
    }
    
    .pt_taula th.nivell3 {
        color: #5F5C6E !important;
        background-color: #E1E1E4 !important;
    }
    
    .pt_taula td.semititol {
        color: #5F5C6E;
    }

    .pt_taula td,
    .pt_taula tr,
    .pt_taula th {
        border: 1px solid #5E5E5E;
    } 
}