<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Pla de treball</title>
  <meta name="description" content="Pla de treball">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
</head>
<body>

<!-- Capçalera -->
<header class="main_header">
  <div class="own_container">
    <h1>Intervenció amb famílies i atenció als infants en risc social</h1>
  </div>
</header>
<!-- /Capçalera -->

<!-- Títol -->
<header class="secondary_header">

  <div class="own_container">
    <div class="focus_stripe"></div>
    <h2>Com estudiar aquest mòdul</h2>
  </div>
</header>
<!-- /Títol -->


<!-- Secció 1 -->
<section class="section section1">
  <div class="own_container">
    <div class="section1_container">
      <div class="section1_content_row1">
        <div class="section1_element">
          <div class="section1_icona" id="durada_icona"></div>
          <h3>Durada</h3>
          <p>132 hores</p>
        </div>
        <div class="section1_element">
          <div class="section1_icona" id="professor_icona"></div>
          <h3>Professor</h3>
          <p>Montse Sorribas</p>
        </div>
        <div class="section1_element">
          <div class="section1_icona" id="material_icona"></div>
          <h3>Material didàctic</h3>
          <p>M01</p>
        </div>
      </div>
      <div class="section1_content_row2">
        <div class="section1_element">
          <div class="section1_icona" id="dedicacio_icona"></div>
          <h3>Dedicació setmanal</h3>
          <p>9 hores</p>
        </div>
        <div class="section1_element">
          <div class="section1_icona" id="requisits_icona"></div>
          <h3>Requisits</h3>
          <p>M07. Desenvolupament socioafectiu</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Secció 1 -->

<hr>

<!-- Secció 2 -->
<section class="section section2">
  <div class="own_container">
    <p>En aquest mòdul treballareu l’evolució històrica del tractament
    de la infantesa i del seu marc legal, així com la intervenció
    socioeducativa que es realitza amb menors i família.</p>
  </div>
</section>
<!-- /Secció 2 -->

<hr>

<!-- Secció 3 -->
<section class="section section3">
  <div class="own_container">
    <h2>Itinerari formatiu recomanat</h2>
    <div class="section3_itinerari">
      <h3>Si curses el mòdul el <span>primer semestre</span> (setembre-gener)</h3>
      <div class="requadre_itinerari">
        <div class="rectangle"></div>
        <div class="rectangle"></div>
        <div class="rectangle"></div>
        <div class="rectangle"></div>
        <div class="rectangle"></div>
        <div class="rectangle"></div>
        <div class="rectangle rectangle_destacat"><p>6è semestre</p></div>
        <div class="rectangle"></div>
      </div>
    </div>
    <div class="section3_itinerari">
      <h3>Si curses el mòdul el <span>segon semestre</span> (febrer-juny)</h3>
      <div class="requadre_itinerari">
        <div class="rectangle"></div>
        <div class="rectangle"></div>
        <div class="rectangle"></div>
        <div class="rectangle"></div>
        <div class="rectangle"></div>
        <div class="rectangle rectangle_destacat"><p>4t semestre</p></div>
        <div class="rectangle"></div>
        <div class="rectangle"></div>
      </div>
    </div>
    <h2>Distribució horària del mòdul</h2>
    <div class="section3_distribucio">
      <div class="requadre_distribucio">
        <div class="rectangle_doble">UF1</div>
        <div class="rectangle_doble">UF2</div>
        <div class="rectangle_doble">66h</div>
        <div class="rectangle_doble">66h</div>
        <div class="rectangle_simple">33h</div>
        <div class="rectangle_simple">33h</div>
        <div class="rectangle_simple">33h</div>
        <div class="rectangle_simple">33h</div>
        <div class="rectangle_simple">U1</div>
        <div class="rectangle_simple">U2</div>
        <div class="rectangle_simple">U3</div>
        <div class="rectangle_simple">U4</div>
      </div>
    </div>
  </div>
</section>
<!-- /Secció 3 -->

<hr>

<!-- Secció 4 -->
<section class="section section4">
  <div class="own_container">
    <h2>Eines d'aprenentatge</h2>
    <div class="requadre_eines">
      <div class="puzzle puzzle_dalt" id="puzzle1">
        <div class="section4_icona" id="llibre_icona"></div>
        <div>
          <h4>Llibre de l'aula</h4>
          <h3>Lectura obligada</h3>
        </div>
      </div>
      <div class="puzzle puzzle_mig" id="puzzle2">
        <div class="section4_icona" id="exercicis_icona"></div>
        <div>
          <h4>Exercicis d’autoavaluació i activitats</h4>
          <h3>Opcional (recomanat)</h3>
        </div>
      </div>
      <div class="puzzle puzzle_mig" id="puzzle3">
        <div class="section4_icona" id="forum_icona"></div>
        <div>
          <h4>Fòrum de l’aula</h4>
          <h3>Participació obligada</h3>
        </div>
      </div>
      <div class="puzzle puzzle_mig" id="puzzle4">
        <div class="section4_icona" id="questionari_icona"></div>
        <div>
          <h4>Qüestionari obert a l'aula</h4>
          <h3>Opcional (puntua a l’EAC)</h3>
        </div>
      </div>
      <div class="puzzle puzzle_baix" id="puzzle5">
        <div class="section4_icona" id="avaluacio_icona"></div>
        <div>
          <h4>Exercicis d'avaluació contínua</h4>
          <h3>Opcional</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Secció 4 -->

<hr>

<!-- Secció 5 -->
<section class="section section5">
  <div class="own_container">
    <h2>Calendari d’estudi</h2>
    <table class="own_table">
      <tr>
        <th colspan="2"></th>
        <th>Inici</th>
        <th>Final</th>
      </tr>
      <tr>
        <th rowspan="2">U1</th>
        <td>Apartat 1</td>
        <td>14/2/2018</td>
        <td>20/2/2018</td>
      </tr>
      <tr>
        <td>Apartat 2</td>
        <td>21/2/2018</td>
        <td>9/3/2018</td>
      </tr>
      <tr>
        <th rowspan="3">U2</th>
        <td>Apartat 1</td>
        <td>14/2/2018</td>
        <td>20/2/2018</td>
      </tr>
      <tr>
        <td>Apartat 2</td>
        <td>21/2/2018</td>
        <td>9/3/2018</td>
      </tr>
      <tr>
        <td>Apartat 3</td>
        <td>14/2/2018</td>
        <td>20/2/2018</td>
      </tr>
      <tr>
        <th rowspan="2">U3</th>
        <td>Apartat 1</td>
        <td>21/2/2018</td>
        <td>9/3/2018</td>
      </tr>
      <tr>
        <td>Apartat 2</td>
        <td>14/2/2018</td>
        <td>20/2/2018</td>
      </tr>
      <tr>
        <th rowspan="2">U4</th>
        <td>Apartat 1</td>
        <td>21/2/2018</td>
        <td>9/3/2018</td>
      </tr>
      <tr>
        <td>Apartat 2</td>
        <td>14/2/2018</td>
        <td>20/2/2018</td>
      </tr>
    </table>
  </div>
</section>
<!-- /Secció 5 -->

<!-- Secció 6 -->
<section class="section section6">
  <div class="own_container">
    <h2>Avaluació contínua (EACs)</h2>
    <p>És recomanable realitzar els <strong>exercicis d’avaluació contínua</strong> (EACs) ja que la seva nota correspon al <span>30%</span> de la qualificació final.</p>
    <br/>
    <p>Els EACs els resol l’estudiant per la seva banda, i els ha de lliurar al campus en la data indicada. </p>
    <br/>
    <p>Aquest mòdul inclou <span>4 EACs</span>, 2 per la UF1 i 2 per la UF2:</p>
    <table class="own_table">
      <tr>
        <th></th>
        <th>Publicació</th>
        <th>Lliurament</th>
        <th>Solució</th>
        <th>Qualificació</th>
      </tr>
      <tr>
        <th>U1</th>
        <td>14/2/2018</td>
        <td>23/2/2018</td>
        <td>22/3/2018</td>
        <td>22/3/2018</td>
      </tr>
      <tr>
        <th>U2</th>
        <td>14/2/2018</td>
        <td>23/2/2018</td>
        <td>22/3/2018</td>
        <td>22/3/2018</td>
      </tr>
      <tr>
        <th>U3</th>
        <td>14/2/2018</td>
        <td>23/2/2018</td>
        <td>22/3/2018</td>
        <td>22/3/2018</td>
      </tr>
      <tr>
        <th>U4</th>
        <td>14/2/2018</td>
        <td>23/2/2018</td>
        <td>22/3/2018</td>
        <td>22/3/2018</td>
      </tr>
    </table>
    <p>No es tindrà en compte la qualificació de l’avaluació contínua si no s’obté com a mínim un <span>4</span> en l’EAC.</p>
    <br/>
    <p>Compte! El sistema no permet fer lliuraments passades les <span>23’55h</span> de la data prevista.</p>
  </div>
</section>
<!-- /Secció 6 -->

<hr>

<!-- Secció 7 -->
<section class="section section7">
  <div class="own_container">
    <h2>Prova final (PAF)</h2>
    <div class="panell_pafs">
      <div class="paf_1">
        <h3>PAF 1</h3>
        <div class="section7_icona" id="paf-1-icona"></div>
        <h3>19/5/18</h3>
        <p>Qualificacions:</p>
        <p>23/2/18</p>
        <div class="horizontal_separator"></div>
      </div>
      <div class="vertical_separator"></div>
      <div class="paf_2">
        <h3>PAF 2</h3>
        <div class="section7_icona" id="paf-2-icona"></div>
        <h3>2/6/18</h3>
        <p>Qualificacions:</p>
        <p>7/6/18</p>
        <div class="horizontal_separator"></div>
      </div>
    </div>
    <p>Cal obtenir una nota mínima de <span>4</span> per poder aplicar-hi el promig de l’avaluació contínua.</p>
    <br/>
    <p>Podeu presentar-vos a la primera convocatòria (PAF 1) i, en cas de no superar-la, presentar-vos a la segona convocatòria (PAF 2), <span>dues setmanes</span> després.</p>
    <br/>
    <p>En cap cas no es pot fer servir la PAF 2 per pujar nota.</p>
    <br/>
    <p>En cas de no presentar-vos a la PAF 1 perdreu la convocatòria (excepte si n’heu anul·lat la matrícula). En canvi, la convocatòria de la PAF 2 només s’esgota en cas que us hi presenteu.</p>
  </div>
</section>
<!-- /Secció 7 -->

<hr>

<!-- Secció 8 -->
<section class="section section8">
  <div class="own_container">
    <h2>Qualificació</h2>
    <div class="panell_qualificacions">
      <div class="panell_qualificacio">
        <div class="unitat_num">
          <p>UF1</p>
        </div>
        <div class="percentatges_chart">
          <div class="chart_primer">
            <p>70%</p>
            <div id="fila1_percentatge_paf">PAF UF 1</div>
          </div>
          <div class="chart_segon">
            <p>30%</p>
            <div id="fila1_percentatge_eac">EAC UF 1</div>
          </div>
        </div>
      </div>
      <div class="panell_qualificacio">
        <div class="unitat_num">
          <p>UF2</p>
        </div>
        <div class="percentatges_chart">
          <div class="chart_primer">
            <p>70%</p>
            <div id="fila2_percentatge_paf">PAF UF 2</div>
          </div>
          <div class="chart_segon">
            <p>30%</p>
            <div id="fila2_percentatge_eac">EAC UF 2</div>
          </div>
        </div>
      </div>
      <div class="panell_qualificacio">
        <div class="unitat_num" id="final">
          <p>Final</p>
        </div>
        <div class="percentatges_chart">
          <div class="chart_primer">
            <p>50%</p>
            <div id="fila3_percentatge_paf">UF 1</div>
          </div>
          <div class="chart_segon">
            <p>50%</p>
            <div id="fila3_percentatge_eac">UF 2</div>
          </div>
        </div>
      </div>
    </div>
    <a href="">Consulteu aquí la programació completa</a>
  </div>
</section>
<!-- /Secció 8 -->





</body>
</html>
