<!doctype html>

<html lang="ca">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="expires" content="0">
  <title>Pla de treball</title>
  <meta name="description" content="Pla de treball">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
</head>
<body>

<!-- Capçalera -->
<header class="main_header">
    <div class="own_container">
        <h1>{##modulId##} {##modul##}<WIOCCL:IF condition="''m&ograve;dul''!={##tipusBlocModul##}"> - {##tipusBlocModul##}</WIOCCL:IF></h1>
    </div>
    <div class="rflexjust">
        <a href="pt_sencer/pt.html" target="_blank"><img src="img/programacio.png" title="Consulteu aquí la programació completa"/></a>
    </div>
</header>
<!-- /Capçalera -->

<!-- Títol -->
<header class="secondary_header">

  <div class="own_container">
    <div class="focus_stripe"></div>
    <h2>Com estudiar aquest <WIOCCL:IF condition="''m&ograve;dul''=={##tipusBlocModul##}">mòdul</WIOCCL:IF><WIOCCL:IF condition="''m&ograve;dul''!={##tipusBlocModul##}">bloc</WIOCCL:IF></h2>
  </div>
</header>
<!-- /Títol -->


<!-- Secció 1 -->
<section class="section section1">
  <div class="own_container">
    <div class="section1_container">
      <div class="section1_content_row1">
        <div class="section1_element">
          <div class="section1_icona" id="durada_icona"></div>
          <h3>Durada</h3>
          <p>{##durada##} hores</p>       
        </div>
        <div class="section1_element">
          <div class="section1_icona" id="professor_icona"></div>
          <h3>Professor</h3>
          <p>{#_STR_REPLACE([",", ", ", " , "],"<br/>","{##professors##}")_#}</p>
        </div>
        <div class="section1_element">
          <div class="section1_icona" id="dedicacio_icona"></div>
          <h3>Dedicació setmanal</h3>
          <p>{##dedicacio##} hores</p>
        </div>
      </div>
<WIOCCL:IF condition="{##requerimentsMatricula##}!=''''">  
      <div class="section1_content_row3">
          <div class="franja_color">
            <div class="section1_icona" id="requisits_icona"></div>
          </div>
          <h3>Requeriments i incompatibilitats de la matrícula</h3>
          <p>{##requerimentsMatricula##}</p>
      </div>      
          <hr>
</WIOCCL:IF>
    </div>
  </div>

</section>
<!-- /Secció 1 -->

<!-- Secció 2 -->
<section class="section section2">

  <div class="own_container">
    Aquest <WIOCCL:IF condition="''m&ograve;dul''=={##tipusBlocModul##}">mòdul</WIOCCL:IF><WIOCCL:IF condition="''m&ograve;dul''!={##tipusBlocModul##}">{##tipusBlocModul##} del mòdul</WIOCCL:IF> {##modulId##} {##modul##} {##descripcio##}
  </div>
</section>
<!-- /Secció 2 -->

<hr>



<!-- Secció 6 -->
<section class="section section6">
  <div class="own_container">
    <h2>Avaluació</h2>
    <p>El projecte és fil conductor del mòdul i es porta a terme de forma col·laborativa mitjançant el lliurament periòdic de les activitats proposades.</p>
    <br/>
    <p>Aquest mòdul <strong>no té Prova d'avaluació final (PAF) presencial.</strong></p>
    <br/>
    <p>Per superar el mòdul cal portar a terme les tasques encomanades de manera individual o en grup, segons s'indiqui, i usant els mitjans tecnològics proposats i els espais i recursos de l’aula i/o els externs que permetin l’obtenció d’evidències per a l’avaluació de la tasca i de les competències individuals i de grup. L’ús d’eines i recursos externs al Campus, que s’hagin de tenir en compte per a l’avaluació, ha de seguir les indicacions del professor o comptar amb la seva autorització prèvia.</p>
    <br/>
    <p>El projecte inclou <span>{#_COUNTDISTINCT({##datesAC##},[''unitat''])_#} lliuraments</span>, distribuïts de la manera següent:</p>
    <table class="own_table">
      <tr>
        <th></th>
        <th>Inici</th>
        <th>Final</th>
        <th>Qualificació</th>
      </tr>

<WIOCCL:FOREACH var="itemAC" array="{##datesAC##}">
      <tr>
        <th>{##itemAC[unitat]##}</th>
        <td>{#_DATE("{##itemAC[enunciat]##}")_#}</td>
        <td>{#_DATE("{##itemAC[lliurament]##}")_#}</td>
        <td>{#_DATE("{##itemAC[qualificació]##}")_#}</td>
      </tr>
</WIOCCL:FOREACH>

    </table>
    <p>Compte! El sistema no permet fer lliuraments passades les <span>23.55 h</span> de la data prevista.</p>
  </div>
</section>
<!-- /Secció 6 -->

<hr>

<!-- Secció 6b -->
<WIOCCL:IF condition="{##anual##}==true">
<section class="section section6b">
  <div class="own_container">
    <h2>Recuperacions</h2>
    <p>Si no s'ha superat alguns dels reptes, els alumnes es poden presentar a la recuperació de les activitats no superades, al final de cada semestre. La competència de treball en equip no té opció de recuperació i, si no s'ha superat, cal fer una nova matrícula anual.</p>
    <br/>
    <table class="own_table">
      <tr>
        <th></th>
        <th>Inici</th>
        <th>Lliurament</th>
        <th>Qualificació</th>
      </tr>
      <tr>
        <th>Semestre 1</th>
        <td>{#_DATE("{##dataRecuSem1Inici##}")_#}</td>
        <td>{#_DATE("{##dataRecuSem1Fi##}")_#}</td>
        <td>{#_DATE("{##dataRecuQualificacioSem1##}")_#}</td>
      </tr>
      <tr>
        <th>Semestre 2</th>
        <td>{#_DATE("{##dataRecuSem2Inici##}")_#}</td>
        <td>{#_DATE("{##dataRecuSem2Fi##}")_#}</td>
        <td>{#_DATE("{##dataRecuQualificacioSem2##}")_#}</td>
      </tr>
    </table>
    <p>La qualificació de cada etapa a la recuperació només podrà ser <strong>superat</strong> o <strong>no superat</strong>. Per al càlcul de la qualificació del mòdul, la qualificació de cada etapa superat serà un 5</p>
  </div>
</section>
</WIOCCL:IF>
<!-- Secció 6b -->
<WIOCCL:IF condition="{##anual##}==false">
<section class="section section6b">
  <div class="own_container">
    <h2>Recuperacions</h2>
    <p>Si no s'ha superat alguns dels reptes, els alumnes es poden presentar a la recuperació de les activitats no superades, al final del semestre. </p>
    <br/>
    <table class="own_table">
      <tr>
        <th>Inici</th>
        <th>Lliurament</th>
        <th>Qualificació</th>
      </tr>
      <tr>
        <td>{#_DATE("{##dataRecuSem1Inici##}")_#}</td>
        <td>{#_DATE("{##dataRecuSem1Fi##}")_#}</td>
        <td>{#_DATE("{##dataRecuQualificacioSem1##}")_#}</td>
      </tr>
    </table>
    <p>La qualificació de cada repte a la recuperació només podrà ser <strong>superat</strong> o <strong>no superat</strong>. Per al càlcul de la qualificació del mòdul, la qualificació de cada repte superat serà un 5</p>
  </div>
</section>
</WIOCCL:IF>
<!-- /Secció 6b -->

<hr>
<!-- Secció 8 -->
<section class="section section8">
  <div class="own_container">
    <h2 id="qualificacio">Qualificació</h2>
     <div class="containerQualificacio" id="contenidorQualificacio">

    </div>
    <script type="text/javascript"> 
(function(){
<WIOCCL:SET var="nbloc" type="map" value="{##tipusBlocModul##}" map="{''m&ograve;dul'':0,''1r. bloc'':1,''2n. bloc'':2,''3r. bloc'':3}">
    var dataArray1 = [
                      [
                        {
                          title :"FINAL",
                          name :"FINAL",
                          percent: 0
                        },

    <WIOCCL:SET var="sum_ponderacio" type="literal" value="{#_ARRAY_GET_SUM({##taulaDadesUn##},''ponderació'')_#}">
    <WIOCCL:FOREACH var="item" array="{##taulaDadesUn##}">
                           {
                              title :"Lliur.{##item[unitat]##}",
                              name :"lliur.{##item[unitat]##}",
                              percent: "{#_GET_PERCENT({##sum_ponderacio##}, {##item[ponderació]##})_#}"
                            },
    </WIOCCL:FOREACH>
    </WIOCCL:SET>


      
                      ]
                    ];
</WIOCCL:SET>


    /*****************/

    var numberOfRows = 0;
    var numberOfCells = [];

    for(var i = 0; i <= dataArray1.length - 1; i++) {
        createPercentRow(i);
        createTitleRow(i);
        numberOfRows += 2;
        numberOfCells += dataArray1[i].length;
        }

    for(var i = 0; i <= numberOfRows - 1; i++) {
        for(var j = 0; j <= numberOfCells[i] - 1; j++) {
          /* Creem cel·les de percentatge */
          var newPercentCell =  document.createElement("div");
          var newPercentContentCell =  document.createElement("span");
          var percentCellContent = document.createTextNode(dataArray1[i][j].percent + "%");
          document.createTextNode(dataArray1[i][j].percent + "%");
          newPercentCell.setAttribute("class", "cellQualificacio");
          newPercentContentCell.appendChild(percentCellContent);
          newPercentCell.appendChild(newPercentContentCell);
          newPercentCell.style.width = dataArray1[i][j].percent + "%";
          document.getElementById("percent_row" + i).appendChild(newPercentCell);
          /* Creem cel·les de títol */
          var newTitleCell =  document.createElement("div");
          var newTitleContentCell =  document.createElement("span");
          var titleCellContent = document.createTextNode(dataArray1[i][j].name);
          newTitleCell.setAttribute("class", "cellQualificacio");
          newTitleCell.setAttribute("title", dataArray1[i][j].title);
          newTitleContentCell.appendChild(titleCellContent);
          newTitleCell.appendChild(newTitleContentCell);
          newTitleCell.style.width = dataArray1[i][j].percent + "%";
          document.getElementById("title_row" + i).appendChild(newTitleCell);
        }
    }

    var allCells = document.querySelectorAll(".cellQualificacio");

    for(var k = 0; k <= allCells.length - 1; k++) {

      if (parseInt(allCells[k].style.width) > 0 && parseInt(allCells[k].style.width) < 25) {
            allCells[k].classList.add("smallCell");
            var textHolder = allCells[k].innerHTML;
          }
    }

    /* Funcions per crear files */

    function createPercentRow(index) {
        var newPercentRow =  document.createElement("div");
        newPercentRow.setAttribute("class", "rowQualificacio");
        newPercentRow.setAttribute("id", "percent_row" + index);
        document.getElementById("contenidorQualificacio").appendChild(newPercentRow);
    }

    function createTitleRow(index) {
        var newTitleRow =  document.createElement("div");
        newTitleRow.setAttribute("class", "rowQualificacio");
        newTitleRow.setAttribute("id", "title_row" + index);
        document.getElementById("contenidorQualificacio").appendChild(newTitleRow);
    }
})();
    </script>
    <a target="_blank" href="pt_sencer/pt.html">Consulteu aquí el pla de treball complet</a>
  </div>
</section>
<!-- /Secció 8 -->





</body>
</html>
